---
template: layout.jade
---

.container
  .wrap
    .iit-header
      .jumbotron
        .logo
          img(src='/img/logo.png', alt="Greek letter Phi (symbol for integrated information)")
        .title
          p.hidden-xs Resources for exploring
          h1 Integrated Information Theory
    .row
      .col-sm-12
        p.lead
          | Integrated information theory (IIT) is a theoretical framework for
          | understanding consciousness developed by Giulio Tononi, MD, PhD, at
          | the 
          a(href="http://tononi.psychiatry.wisc.edu/index.php", target="_blank") Center for Sleep and Consciousness
          |  at the University of Wisconsin–Madison.
    .row
      .col-sm-12
        section#announcements
          h1.page-header Announcements
          .alert.alert-info.alert-banner(role='alert')
            h1 
              a.prompt(href="http://www.nsas.it/consciousness", target="_blank") Summer School on Consciousness
            h3
              a(href="https://www.google.com/maps/place/Kloster+Neustift/@46.7442402,11.6465273,17z/data=!3m1!4b1!4m5!3m4!1s0x477804fed2e70a63:0x3ebd1e95cfc2c841!8m2!3d46.7442402!4d11.648716", target="_blank") Abbazia di Novacella in Bressanone, Italy
            h3 September 17–24, 2016
            br
            h3 Faculty:
            ul.list-inline
              li(style="padding-left:5px") Giulio Tononi,
              li Christof Koch,
              li Niko Schiff,
              li Hal Blumenfeld,
              li Catherine Tallon-Baudry,
              li Lucia Melloni,
              li Antti Revonsuo,
              li Patrik Vuilleumier,
              li Marcello Massimini,
              li Melanie Boly,
              li Larissa Albantakis
            br
            p The Neuroscience School of Advanced Studies (NSAS) is accepting applications for an intensive, multiday course entitled <strong>‘Consciousness: From Theory to Practice.’</strong>
            p Lectures will cut across multiple fields of consciousness studies and will feature dedicated sessions addressing important emerging areas. Emphasis will be placed on cutting-edge methods and theories for understanding consciousness, and on how neurological/neurophysiological investigations can shed light on the nature of consciousness and its disorders. 
            p Some of the topics that will be covered include the following: 
              ul 
                li Integrated Information Theory
                li Key conceptual distinctions in the study of consciousness and their empirical investigation
                li New approaches for studying the neural correlates of consciousness (NCC) and subjectivity 
                li The implications of neurological lesion studies for generating causal and predictive models of consciousness disorders
                li The contribution of neuropsychological disorders (e.g., spatial neglect, blindsight, seizures disorders) to our understanding of awareness and consciousness
                li The contribution of processes preceding (e.g., attention) or following (e.g., memory) the NCC to our understanding of the NCC
                li How TMS-induced cortical perturbations can be used both to investigate the physical mechanisms of consciousness and to develop useful measures of individuals' levels of consciousness
            p The course will be an interactive, multidisciplinary forum in which participants will discard outdated notions, gain an appreciation for the latest thinking, and develop insights that will help navigate the complexity of consciousness research. 
            p To find out more about the course or to apply, please visit the following website: 
            p
              a.btn.btn-lg.btn-primary(href='http://www.nsas.it/consciousness', role="button") http://www.nsas.it/consciousness
          .alert.alert-info.alert-banner(role='alert')
            h1 Open positions
            p Several postdoctoral positions are available in the integrated information theory group at the 
              a(href='http://centerforsleepandconsciousness.med.wisc.edu') Center for Sleep and Consciousness 
              | in the laboratory of Dr. Giulio Tononi.
            p Candidates are expected to have strong training in an analytically rigorous discipline such as theoretical biology/neuroscience, physics, mathematics, computer science, or engineering. We explicitly encourage mathematicians to apply. Experience in information theory, complex systems, and an interest in the philosophy of mind/information/causation are a plus. 
            p Programming experience is required (knowledge of MATLAB, Python, and/or C++ is of advantage).
            p Applicants should send a CV, brief statement of previous research and future research interests, and email addresses and phone numbers of three references to Dr. Giulio Tononi (
              a(href='mailto:gtononi@wisc.edu') gtononi@wisc.edu
              | ).
            p For more information contact Dr. Larissa Albantakis (
              a(href='mailto:albantakis@wisc.edu') albantakis@wisc.edu
              | ).
    .row
      .col-sm-12
        section#papers
          h1.page-header Selected publications
          ul.pub-list
            li.pub-item 
              a(href="http://nc.oxfordjournals.org/content/2016/1/niw012", target="_blank") Can the macro beat the micro? Integrated information across spatiotemporal scales
            //- TODO: Hide these when masonry is implemented
            li.pub-item 
              a(href="http://www.ploscompbiol.org/article/info%3Adoi%2F10.1371%2Fjournal.pcbi.1003588", target="_blank") Integrated Information Theory 3.0
            li.pub-item 
              a(href="http://www.ploscompbiol.org/article/info:doi/10.1371/journal.pcbi.1003966", target="_blank") Evolution of Integrated Causal Structures in Animats Exposed to Environments of Increasing Complexity
            li.pub-item 
              a(href="http://www.mdpi.com/1099-4300/17/8/5472", target="_blank") The Intrinsic Cause-Effect Power of Discrete Dynamical Systems—From Elementary Cellular Automata to Adapting Animats
            li.pub-item 
              a(href="http://rstb.royalsocietypublishing.org/content/370/1668/20140167", target="_blank") Consciousness: here, there and everywhere?
            li.pub-item 
              a(href="http://www.scholarpedia.org/article/Integrated_information_theory", target="_blank") Scholarpedia Article
            li.pub-item
              a(href="http://www.architalbiol.org/aib/article/view/15056", target="_blank") The Integrated Information Theory of Consciousness: An Updated Account
    .row
      .col-sm-12
        section#software
          h1.page-header
            a.prompt(href="http://github.com/wmayner/pyphi", target="_blank") Software
            .github-buttons
              .wrap
                .hidden-xs
                  iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&size=large&type=watch",
                    allowtransparency="true", frameborder="0", scrolling="0",
                    width="75", height="30", style="width:75px;height:30px;")
                  iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&size=large&type=fork",
                    allowtransparency="true", frameborder="0", scrolling="0",
                    width="75", height="30", style="width:75px;height:30px;")
                .visible-xs
                  iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&type=watch",
                    allowtransparency="true", frameborder="0", scrolling="0",
                    width="50", height="20", style="width:50px;height:20px;")
                  iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&type=fork",
                  allowtransparency="true", frameborder="0", scrolling="0",
                  width="50", height="20", style="width:50px;height:20px;")
          :markdown
            [**PyPhi**](http://github.com/wmayner/pyphi) is a Python library for
            calculating integrated information (denoted &Phi;) and its associated
            quantities and structures. It is open-source and [available on
            GitHub](http://github.com/wmayner/pyphi).
           
            Please consult the the project's
            [README](https://github.com/wmayner/pyphi/blob/develop/README.rst)
            for more information.
          h2
            a.prompt(href="/calculate.html", target="_blank") Visual Interface
          p
            | There is a 
            a(href="/calculate.html") visual interface 
            |  to this code available on this website via the “Calculate &Phi;” tab above.
          h2
            a.prompt(href="http://pyphi.readthedocs.io/en/stable/", target="_blank") Documentation
          :markdown
            [Online documentation](http://pyphi.readthedocs.io/en/stable/) is available.
            There are some
            [examples](http://pyphi.readthedocs.io/en/stable/examples/index.html)
            that demonstrate how to create a network and measure its &Phi;, and
            comprehensive documentation of the API.

            In addition, the figures in the IIT 3.0 paper are illustrated with
            PyPhi as an [IPython
            notebook](http://integratedinformationtheory.org/download/IIT%203.0%20-%20A%20PyPhi%20companion%20-%20v1.0.0.ipynb)
            and in the [online
            documentation](http://pyphi.readthedocs.io/en/stable/examples/2014paper.html).
            This section is meant to serve as a companion to the paper, and
            readers are encouraged to follow along and analyze the systems
            shown in the figures, hopefully becoming more familiar with both
            the theory and the software in the process.

            Finally, the source code itself is commented. Those familiar with
            Python are encouraged to read the code to better understand the details
            of the calculation.
    .row
      .col-sm-12
        section#other
          h1.page-header Other
          ul
            li
              a(href="/download/conscious_grid.pdf", target="_blank") The Conscious Grid
            li
              a(href="http://integratedinformationtheory.org/download/IIT%203.0%20-%20A%20PyPhi%20companion%20-%20v1.0.0.ipynb")
                | IPython notebook illustrating the figures of the IIT 3.0 paper
