!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title= locals.title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/solarized_dark.css')
    link(rel='stylesheet', href='/css/main.css')
    // link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
  body
    .container
      .row
        .col-md-3.col-md-push-9
          header.header
            div.content-wrap
              div.logo
                h1
                  a(href=locals.url)= locals.name
                p.description= locals.description
        .col-md-9.col-md-pull-3
          div#content
            div.content-wrap
              != page.html
              block content
      .row
        .col-md-12
          footer
            div.content-wrap
              block footer
                section.about
                  !=contents['about.md'].html
                section.copy
                  p &copy; #{ new Date().getFullYear() } #{ locals.owner }
    // jQuery
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    // Bootstrap JS
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    // MathJax
    script(type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")

