section#software
  h1.page-header
    a.prompt(href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006343", target="_blank") Software
    .github-buttons
      .wrap
        .hidden-xs
          iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&size=large&type=watch",
            allowtransparency="true", frameborder="0", scrolling="0",
            width="75", height="30", style="width:75px;height:30px;")
          iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&size=large&type=fork",
            allowtransparency="true", frameborder="0", scrolling="0",
            width="75", height="30", style="width:75px;height:30px;")
        .visible-xs
          iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&type=watch",
            allowtransparency="true", frameborder="0", scrolling="0",
            width="50", height="20", style="width:50px;height:20px;")
          iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&type=fork",
          allowtransparency="true", frameborder="0", scrolling="0",
          width="50", height="20", style="width:50px;height:20px;")

  p
    a(href='https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006343', target='_blank')
      strong PyPhi
    |   is a Python software package for calculating integrated information and
    |  its associated structures. For more information, please see our paper
    |  describing the software:
  p
    a(href='https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006343', target='_blank')
      | Mayner WGP, Marshall W, Albantakis L, Findlay G, Marchman R, Tononi G.
      | (2018) PyPhi: A toolbox for integrated information theory. <em>PLOS
      | Computational Biology</em> 14(7): e1006343.
  p Please cite this paper if you use PyPhi in your research.
  :markdown
    PyPhi is open-source and [available on
    GitHub](http://github.com/wmayner/pyphi), and can be installed on the
    command line with the Python package manager via `pip install pyphi`.
  h2
    a.prompt(href="https://groups.google.com/forum/#!forum/pyphi-users", target="_blank") Discussion
  :markdown
    For discussion about the software or integrated information theory in
    general, you can join the [PyPhi users
    group](https://groups.google.com/forum/#!forum/pyphi-users>).
  h2
    a.prompt(href="http://pyphi.readthedocs.io/en/latest/", target="_blank") Documentation
  :markdown
    [Online documentation](http://pyphi.readthedocs.io/en/latest/) is
    available. There are
    [examples](http://pyphi.readthedocs.io/en/latest/examples/index.html) that
    demonstrate how to create a network and measure its integrated information,
    and comprehensive documentation of the API.

    For technical issues with PyPhi or feature requests, please use the [GitHub
    issues page](https://github.com/wmayner/pyphi/issues).
  h2
    a.prompt(href="/calculate.html", target="_blank") Visual Interface
  p
    | There is a
    a(href="/calculate.html") visual interface
    |  to this code available on this website via the “Calculate &Phi;” tab above.
