section#software
  h1.page-header
    a.prompt(href="https://arxiv.org/abs/1712.09644", target="_blank") Software
    .github-buttons
      .wrap
        .hidden-xs
          iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&size=large&type=watch",
            allowtransparency="true", frameborder="0", scrolling="0",
            width="75", height="30", style="width:75px;height:30px;")
          iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&size=large&type=fork",
            allowtransparency="true", frameborder="0", scrolling="0",
            width="75", height="30", style="width:75px;height:30px;")
        .visible-xs
          iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&type=watch",
            allowtransparency="true", frameborder="0", scrolling="0",
            width="50", height="20", style="width:50px;height:20px;")
          iframe(src="http://ghbtns.com/github-btn.html?user=wmayner&repo=pyphi&type=fork",
          allowtransparency="true", frameborder="0", scrolling="0",
          width="50", height="20", style="width:50px;height:20px;")
  :markdown
    [**PyPhi**](https://arxiv.org/abs/1712.09644) is a Python library for
    calculating integrated information and its associated structures. It is
    open-source and [available on GitHub](http://github.com/wmayner/pyphi), and
    can be installed on the command line with the Python package manager via
    `pip install pyphi`.

    The figures in the IIT 3.0 paper are illustrated with PyPhi as an
    [IPython
    notebook](http://integratedinformationtheory.org/download/IIT%203.0%20-%20A%20PyPhi%20companion%20-%20v1.0.0.ipynb)
    and in the [online
    documentation](http://pyphi.readthedocs.io/en/latest/examples/2014paper.html).
    This section is meant to serve as a companion to the paper, and readers are
    encouraged to follow along and analyze the systems shown in the figures in
    order to become more familiar with the theory and the software.

    Please consult the the project's
    [README](https://github.com/wmayner/pyphi/blob/develop/README.rst)
    for more information.
  h2
    a.prompt(href="https://arxiv.org/abs/1712.09644", target="_blank") Paper
  p We have recently submitted a manuscript describing the software, a preprint of which is 
    a(href='https://arxiv.org/abs/1712.09644', target='_blank') available on the arXiv
    | :
  p
    a(href='https://arxiv.org/abs/1712.09644', target='_blank') Mayner&nbsp;WGP,&nbsp;Marshall&nbsp;W,&nbsp;Albantakis&nbsp;L,&nbsp;Findlay&nbsp;G,&nbsp;Marchman&nbsp;R,&nbsp;Tononi&nbsp;G&nbsp;(2017). PyPhi:&nbsp;A&nbsp;toolbox&nbsp;for&nbsp;integrated&nbsp;information. <em>arXiv:1712.09644&nbsp;[q&#8209;bio.NC]</em>.
  p Please cite the manuscript if you use PyPhi in your research.
  h2
    a.prompt(href="http://pyphi.readthedocs.io/en/latest/", target="_blank") Documentation
  :markdown
    [Online documentation](http://pyphi.readthedocs.io/en/latest/) is
    available. There are some
    [examples](http://pyphi.readthedocs.io/en/latest/examples/index.html)
    that demonstrate how to create a network and measure its integrated
    information, and comprehensive documentation of the API.
  h2
    a.prompt(href="https://groups.google.com/forum/#!forum/pyphi-users", target="_blank") Discussion
  :markdown
    For discussion about the software or integrated information theory in
    general, you can join the [PyPhi users
    group](https://groups.google.com/forum/#!forum/pyphi-users>).

    For technical issues with PyPhi or feature requests, please use the [GitHub
    issues page](https://github.com/wmayner/pyphi/issues).
  h2
    a.prompt(href="/calculate.html", target="_blank") Visual Interface
  p
    | There is a 
    a(href="/calculate.html") visual interface 
    |  to this code available on this website via the “Calculate &Phi;” tab above.
